:host {
    th.hy-header-cell {
        cursor: pointer;
    }

    .btn-paging {
        min-width: 50px;
        height: 50px;
        border-left: 0;
    }

    button.hy-reset-button {
        width: 100%;
    }

    .list-group-item {
        padding: 5px 10px;
        text-decoration: none !important;

        .active {
            cursor: pointer !important;
        }
    }

    .btn-action {
        margin: 0;
        border: 0;
        outline: 0;
    }

    .popover {
        width: 360px;
        max-width: 100%;
        cursor: auto;

        hr {
            width: 100%;
            margin-top: 0;
        }

        &-content {
            height: 100%;
        }

        &-title {
            background-color: transparent;
        }
    }

    .hy-options-container {
        overflow: auto;
    }

    .hy-sort-icon {
        opacity: 0.6;
    }

    .hy-candidate-container {
        padding: 8px;
    }

    .hy-options-button {
        opacity: 0.5;
        margin-left: 8px;
        color: inherit;
        outline: 0;
        text-decoration: none !important;

        &:hover {
            opacity: 1.0;
        }
    }
}
